---
apiVersion: v1
kind: Secret
metadata:
  name: dex-config
type: Opaque
stringData:
  config.yaml: |
    issuer: https://mangodb.de/dex
    storage:
      type: memory
      config:
        file: examples/dex.db
    web:
      http: 0.0.0.0:5556
    oauth2:
       skipApprovalScreen: true
    staticClients:
    - id: kube-bind
      redirectURIs:
      - 'https://mangodb.de/callback'
      name: 'Kube Bind'
      secret: <redacted>
    connectors:
    - type: github
      id: github
      name: GitHub
      config:
        clientID: <redacted>
        clientSecret: <redacted>
        redirectURI: https://mangodb.de/dex/callback
        teamNameField: slug
        orgs:
        - name: kube-bind
