apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kube-bind.fullname" . }}
  labels:
    {{- include "kube-bind.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "kube-bind.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "kube-bind.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "kube-bind.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.hostAliases }}
      hostAliases:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - --listen-address={{ .Values.backend.listenAddress }}
            {{- if .Values.backend.logLevel }}
            - --log-level={{ .Values.backend.logLevel }}
            {{- end }}
            {{- if .Values.backend.externalAddress }}
            - --external-address={{ .Values.backend.externalAddress }}
            {{- end }}
            {{- if .Values.backend.externalServerName }}
            - --external-server-name={{ .Values.backend.externalServerName }}
            {{- end }}
            {{- if .Values.backend.oidc.issuerUrl }}
            - --oidc-issuer-url={{ .Values.backend.oidc.issuerUrl }}
            {{- end }}
            {{- if .Values.backend.oidc.clientId }}
            - --oidc-issuer-client-id={{ .Values.backend.oidc.clientId }}
            {{- end }}
            {{- if .Values.backend.oidc.clientSecret }}
            - --oidc-issuer-client-secret={{ .Values.backend.oidc.clientSecret }}
            {{- end }}
            {{- if .Values.backend.oidc.callbackUrl }}
            - --oidc-callback-url={{ .Values.backend.oidc.callbackUrl }}
            {{- end }}
            {{- if .Values.backend.prettyName }}
            - --pretty-name={{ .Values.backend.prettyName }}
            {{- end }}
            {{- if .Values.backend.namespacePrefix }}
            - --namespace-prefix={{ .Values.backend.namespacePrefix }}
            {{- end }}
            {{- if .Values.backend.consumerScope }}
            - --consumer-scope={{ .Values.backend.consumerScope }}
            {{- end }}
            {{- if .Values.backend.cookieSigningKey }}
            - --cookie-signing-key={{ .Values.backend.cookieSigningKey }}
            {{- end }}
            {{- if .Values.backend.cookieEncryptionKey }}
            - --cookie-encryption-key={{ .Values.backend.cookieEncryptionKey }}
            {{- end }}
            {{- if eq .Values.backend.oidc.type "embedded" }}
            - --oidc-type=embedded
            {{- else if eq .Values.backend.oidc.type "external" }}
            - --oidc-type=external
            {{- end }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
