# Default values for kube-bind.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1

# Backend configuration
backend:
  listenAddress: "0.0.0.0:8080"
  externalAddress: ""
  externalServerName: ""
  tls:
    enabled: false
    certSecretName: ""
    tlsCertFile: "/etc/kube-bind/tls/tls.crt"
    tlsKeyFile: "/etc/kube-bind/tls/tls.key"
  # OIDC configuration. Empty values - will run embedded OIDC server.
  oidc:
    issuerUrl: ""
    clientId: ""
    clientSecret: ""
    callbackUrl: ""
  
  # General backend configuration
  prettyName: ""
  namespacePrefix: "kube-bind-"
  consumerScope: "cluster"
  
  # Cookie configuration - these should be base64 encoded keys
  # Empty values - will generate random keys on each start (not for production!)
  cookieSigningKey: ""
  cookieEncryptionKey: ""

# Cert-manager configuration
certManager:
  enabled: false
  clusterIssuer: ""

# Gateway API configuration
gatewayApi:
  enabled: false
  gateway:
    className: ""
    httpPort: 80
    httpsPort: 443
    annotations: {}
    tls:
      certificateRefs: []
      # Example:
      # - name: tls-cert
      #   namespace: default
  route:
    hostnames: []
    # Example:
    # - "example.com"
    # - "api.example.com"
    path: "/"
    pathType: "PathPrefix"
    annotations: {}

examples:
  # Example resources to seed on first start
  enabled: false

# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
image:
    repository: ghcr.io/kube-bind/backend
    # This sets the pull policy for images.
    pullPolicy: IfNotPresent
    # Overrides the image tag whose default is the chart appVersion.
    tag: ""

# This is for the secrets for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# RBAC configuration
rbac:
  # Specifies whether RBAC resources should be created
  create: true

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}

podSecurityContext: {}
  # fsGroup: 2000

# Host aliases for /etc/hosts injection into pods
# Example:
# hostAliases:
#   - ip: "127.0.0.1"
#     hostnames:
#       - "example.local"
#       - "test.local"
hostAliases: []

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 8080
  httpsPort: 8443
  # NodePort configuration (only used when type is NodePort)
  nodePort: ""
  httpsNodePort: ""

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /healthz
    port: http
readinessProbe:
  httpGet:
    path: /healthz
    port: http

# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}
