apiVersion: apis.kcp.io/v1alpha1
kind: APIResourceSchema
metadata:
  name: v251029-ff0a399.bindableresourcesrequests.kube-bind.io
spec:
  group: kube-bind.io
  names:
    kind: BindableResourcesRequest
    listKind: BindableResourcesRequestList
    plural: bindableresourcesrequests
    singular: bindableresourcesrequest
  scope: Namespaced
  versions:
  - name: v1alpha2
    schema:
      description: |-
        BindableResourcesRequest is sent by the consumer to the service provider
        to indicate which resources the user wants to bind to. It is sent after
        authentication and resource selection on the service provider website.
      properties:
        apiVersion:
          description: |-
            APIVersion defines the versioned schema of this representation of an object.
            Servers should convert recognized schemas to the latest internal value, and
            may reject unrecognized values.
            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
          type: string
        kind:
          description: |-
            Kind is a string value representing the REST resource this object represents.
            Servers may infer this from the endpoint the client submits requests to.
            Cannot be updated.
            In CamelCase.
            More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
          type: string
        metadata:
          type: object
        templateRef:
          properties:
            name:
              description: name is the name of the APIServiceExportTemplate to bind
                to.
              type: string
          required:
          - name
          type: object
      type: object
    served: true
    storage: true
    subresources: {}
