name: CI

on:
  push:
    branches:
      - main
      - 'release-*'
  pull_request:
    branches:
      - main
      - 'release-*'
    paths-ignore:
      - "docs/**"
      - "**/*.md"
      - ".github/ISSUE_TEMPLATE/*"
      - ".goreleaser.yaml"
      - "contrib/manifests/**"

# NOTE!!!
#
# If you add a job here that is a REQUIRED status check in GitHub, you MUST add a job with the same name to ci-docs-only.yaml
#
# NOTE!!!

jobs:
  go-test-e2e:
    name: go-test-e2e
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
    - run: cd web && npm install
    - run: make build-web
    - run: make test-e2e

  go-test-e2e-contrib:
    name: go-test-e2e-contrib
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
    - run: cd web && npm install
    - run: make build-web
    - run: make test-e2e-contribs

  go-test:
    name: go-test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - run: make test

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - run: make lint

  verify:
    name: verify
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: v1.24.0
    - run: make verify
